@using Midas_Models.MonthlyBudgetBoard
@model MonthlyBudgetBoardCreate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MonthlyBudgetBoard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MonthlyBudgetName" class="control-label"></label>
                <input asp-for="MonthlyBudgetName" class="form-control" />
                <span asp-validation-for="MonthlyBudgetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Parent Budget Board</label>
                <select asp-for="BudgetBoardId" asp-items="ViewBag.BudgetBoard" class="form-control"></select>
                <span asp-validation-for="BudgetBoardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

