@model Midas_Models.MonthlyExpenses.MonthlyExpenseModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MonthlyExpenseListItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BillName" class="control-label"></label>
                <input asp-for="BillName" class="form-control" />
                <span asp-validation-for="BillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillAmount" class="control-label"></label>
                <input asp-for="BillAmount" class="form-control" />
                <span asp-validation-for="BillAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
